.footer__column-link {
  color: white;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 60%;
  transition: opacity 1s ease-in-out;
}
