/* Блок для логотипов */
.resources__logo-zone {
  margin: 80px auto 217px auto;
  padding: 0;
  max-width: 1100px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
}
