.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place-header {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  width: 730px;
  left: 64px;
  align-self: center;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  padding: 0;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: 100px auto 100px auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  width: 60%;
  margin: 0 0 20px 0;
  text-align: center;
  padding: 0;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.section-title_theme_dark {
  color: #FFF;
}

.section-subtitle_theme_dark {
  color: #FFF;
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;

}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-size: 867px 637px;
  background-position: left bottom;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feynman__title {
  width: 648px;
  margin: 100px auto 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0 auto;
  text-align: center;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.table_theme_dark {
  margin: 0 auto 0 auto;
}

.table__cell_theme_dark {
  margin: 80px 0 0 0;
  width: 200px;
  color: #FFF;
}

.kaufman__triangle{
  background-image: url('../images/kaufman-triangle.svg');
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0;
  background-size: contain;
  position: absolute;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: #FFF;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin:0;
  padding: 0;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  margin: 0;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: white;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;;
  text-decoration: none;
}

.footer__column-link:nth-child(4){
  margin-bottom: 16px;
}

.footer__column_content_social {}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
